*{
	padding: 0;
	margin: 0;
}

footer {
    width: 100%;
    padding: 50px 0px;
}

h1{
	font-size: $textXl;
    font-family: $mainFont;
}

h2{
	font-size: $textLg;
    font-family: $mainFont;
}

h3{
	font-size: $textMd;
    font-family: $mainFont;
}

p{
	font-family: $secondaryFont;
	line-height: 1.4em;
	color:$black;
	font-size: $textSm;
	padding: 10px 30px;
}

li a {
    text-decoration: none;
    font-family: $secondaryFont;
    font-size: $textSm;
    color: $grey;
}



// backgrounds
.bgLight{
	background-color:rgba(243, 240, 240, .8) ;
}

.bgDark{
	background-color: rgba(195, 190, 190, .8);
}

.conteiner{
    border: none;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
} 

.conteiner1{
    border: none;
    background-color: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;  
}