.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    
    p{
        margin-top: 20px;
        color: #7A7A7A;
    }
    
    hr{
        height: 1px;
        color: #7A7A7A;
    }
    
}