@mixin texto($font-size, $color){
    font-size: $font-size;
    color: $color;
    padding: 5px;
    margin: 5px;
}

h1{
    @include texto(100px, $black);
}

h3, h4{
    @include texto($textMd, $black);
}

$paleta:(
    'uno':#1b325f,
    'dos':#3b657a,
    'tres':#123142,
    'cuatro': #dde0cf,
);
