@mixin texto($font-size, $color){
    font-size: $font-size;
    color: $color;
    padding: 5px;
    margin: 5px;
}

h1{
    @include texto(10em, $black);
}

h3,h4{
    @include texto(8em, $grey);
}

$paleta:(
    'uno':#1b325f,
    'dos':#3b657a,
    'tres':#123142,
);

.container{
     background-color: map-get($map: $paleta, $key:'dos' );
     padding: 5px;
}